VITE_SITE_URL=http://localhost:3000
VITE_GOOGLE_CALENDAR_IDS='{
  "anime_GIRLFRIEND":"xxxxxxxx@group.calendar.google.com",
  "comics_GIRLFRIEND":"xxxxxxxx@group.calendar.google.com",
  "jumpPlus_GIRLFRIEND":"xxxxxxxx@group.calendar.google.com",
  "youngJump_GIRLFRIEND":"xxxxxxxx@group.calendar.google.com",
  "all_RENTARO":"xxxxxxxx@group.calendar.google.com",
  "all_AUTHOR":"xxxxxxxx@group.calendar.google.com"
}'
