@layer theme, base, components, utilities;

@import 'kiso.css' layer(base);
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-primary: hsl(344, 83%, 62%);
  --color-primary-dark: hsl(344, 83%, 52%);
  --color-primary-text: hsl(344, 93%, 47%);
  --color-text: hsl(8, 81%, 18%);
  --color-text-muted: hsl(8, 11%, 18%);
  --color-background: hsl(348, 83%, 98%);
  --color-card: hsla(0, 0%, 100%, 0.627);
  --color-border: hsl(8, 81%, 18%);

  --font-sans: sans-serif;

  --page-padding-top: calc(env(safe-area-inset-top, 0) + var(--spacing) * 2);
  --page-padding-right: calc(env(safe-area-inset-right, 0) + var(--spacing) * 4);
  --page-padding-bottom: calc(env(safe-area-inset-bottom, 0) + var(--spacing) * 2);
  --page-padding-left: calc(env(safe-area-inset-left, 0) + var(--spacing) * 4);

  --animate-hyakkano-bg-heart: bottom-to-top 20s linear forwards;
  --hyakkano-bg-gradient:
    to bottom,
    var(--color-background) 0%,
    transparent 1rem,
    transparent calc(100% - 1rem),
    var(--color-background) 100%;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(2rem);
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: translateY(2rem);
    }
  }

  @keyframes slide-to-top {
    to {
      transform: translateY(-2rem);
    }
  }

  @keyframes bottom-to-top {
    from {
      top: 100%;
      transform: translateY(0);
    }
    to {
      top: 0;
      transform: translateY(-100%);
    }
  }
}

@layer base {
  * {
    @apply outline-primary;
  }

  :root {
    @apply accent-primary;
  }

  html,
  body {
    overflow: clip visible;
  }

  body {
    display: grid;
    grid-template:
      '. nav content .' 1fr
      '. nav footer .' auto
      / 1fr auto minmax(auto, var(--container-xl)) 1fr;
    row-gap: var(--spacing);
    width: 100%;
    height: fit-content;
    min-height: 100dvh;
    padding: var(--page-padding-top) var(--page-padding-right) var(--page-padding-bottom) var(--page-padding-left);
    font-family: var(--font-sans);
    color: var(--color-text);
    line-break: strict;
    word-break: normal;
    overflow-wrap: anywhere;
    background-color: var(--color-background);
  }

  @supports (word-break: auto-phrase) {
    body {
      word-break: auto-phrase;
    }
  }

  /* stylelint-disable-next-line media-query-no-invalid */
  @media (width < theme(--breakpoint-sm)) {
    body {
      grid-template:
        'content' 1fr
        'footer' auto
        'nav' auto
        / 1fr;
      padding: var(--page-padding-top) var(--page-padding-right) var(--page-padding-bottom) var(--page-padding-left);
    }
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-text);
  }

  @keyframes rainbow-text {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}

@custom-variant hover-focus-active {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible,
  &:active {
    @slot;
  }
}

@custom-variant hover-active-without-focus {
  @media (hover: hover) {
    &:hover:not(*:focus-visible) {
      @slot;
    }
  }

  &:active:not(*:focus-visible) {
    @slot;
  }
}

@utility card {
  @apply px-4 py-3;
  overflow: hidden;
  background-color: var(--color-card);
  border-radius: var(--radius-md);
}

@utility card-outlined {
  @apply px-4 py-3;
  overflow: hidden;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
}

@utility page-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

@utility page-title {
  @apply text-2xl font-bold my-3;
}

@utility u-list-disc {
  @apply list-disc pl-6;
}

@utility details-summary {
  @apply rounded bg-primary/10 motion-safe:transition-colors hover-focus-active:bg-primary/20;
  display: flex;
  gap: var(--spacing);
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}

@utility text-animate-rainbow {
  color: #f00;
  animation: rainbow-text 1s linear infinite;
}

@utility common-table {
  @apply grid gap-x-2;

  thead,
  tbody,
  tfoot {
    display: contents;
  }

  tr {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
  }

  tbody tr:nth-of-type(odd) {
    @apply bg-primary/10;
  }

  th,
  td {
    display: block;
  }
}